/*For the lettering of Title and my name*/
.title{
  font-family: "mea culpa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
  text-align: center;
  margin: 1px auto;
}

/*For the background of Title*/
#title-img{
  background-image: url(https://img.freepik.com/premium-photo/natural-white-gold-gray-marble-texture-patternmarble-wallpaper-high-quality-can-be-used-as-background-display-montage-your-top-view-products-mable-tile_1962-2787.jpg?w=1380);
  border:2px solid black;
  border-radius:20%;
  width:1px auto;
    
}

/*For my name*/
p.title{
  font-size:40px;
  margin:1px;
  font-weight:600;
}

/*For the lettering of Corruption*/
.corruption {
  font: 70px 'mea culpa';
  color: black;
}

/*For the background of Corruption*/
#corruption{
  border: 1px solid black;
  border-radius: 20%;
  width: 270px;
  height:100px;
  text-align: center;
  padding: 10px;
  background-image: url(https://img.freepik.com/premium-photo/natural-white-gold-gray-marble-texture-patternmarble-wallpaper-high-quality-can-be-used-as-background-display-montage-your-top-view-products-mable-tile_1962-2787.jpg?w=1380)
}

/*For the Hover of Corruption*/
#corruption:hover{
    border: 1px solid black;
  border-radius: 20%;
  width: 270px;
  height:100px;
  text-align: center;
  padding: 10px;
  background-image: url(https://tse2.mm.bing.net/th/id/OIP.WS7wU23IyYy1n4ixDZkiiQHaEK?pid=Api&h=220&P=0)
}

/*For the Link of Corruption*/
#id-corruption:hover {
  color:#FFF
}

/*For the lettering of life*/
.life{
  font: 70px 'mea culpa';
  color: black
}

/*For the background of Life*/
#life{
   border: 1px solid black;
  border-radius: 20%;
  width: 270px;
  height:100px;
  text-align: center;
  padding: 10px;
  background-image: url(https://img.freepik.com/premium-photo/natural-white-gold-gray-marble-texture-patternmarble-wallpaper-high-quality-can-be-used-as-background-display-montage-your-top-view-products-mable-tile_1962-2787.jpg?w=1380)
}

/*For the Hover of Life*/
#life:hover{
   border: 1px solid black;
  border-radius: 20%;
  width: 270px;
  height:100px;
  text-align: center;
  padding: 10px;
  background-image: url(https://tse2.mm.bing.net/th/id/OIP.RSzoqHXu3mhO0ovCOK4HrQHaEK?pid=Api&h=220&P=0)
}

/*For the link of Life*/
#id-life:hover {
  color: white
}

/*For the Line Breaks*/
.break{
  border:1px solid black;
  background-image: url(https://img.freepik.com/premium-photo/natural-white-gold-gray-marble-texture-patternmarble-wallpaper-high-quality-can-be-used-as-background-display-montage-your-top-view-products-mable-tile_1962-2787.jpg?w=1380);
    margin:30px;
  margin-left:-20px;
  margin-right:-20px;
  width:5000px;
}
